

<div fxLayout="column" fxFlex>

    <h2 id="title-list">Servizi</h2>

    <div *ngIf="servizi != undefined else loading" fxLayout="column" fxFlex="100%">
        <p id="empty-list" *ngIf="servizi.length == 0 else notEmptyList">Nessun servizio</p>

        <!--servizio list is not empty-->
        <ng-template #notEmptyList>
        
            <mat-selection-list class="list" fxFlex #servizioSelector [multiple]="false" (selectionChange)="handleSelection($event)">
                <mat-list-option checkboxPosition="before" *ngFor="let servizio of servizi" [value]="servizio">
                    <h4 mat-line>{{servizio.nomeServizio}}</h4>
                    <p mat-line><i>Ente: {{servizio.nomeEnte}}</i></p>
                    <mat-divider></mat-divider>
                </mat-list-option>
            </mat-selection-list>
        

            <button mat-mini-fab class="sticky-button" (click)=create()>
                <mat-icon>add</mat-icon>
            </button>    
    

    
        </ng-template>
    </div>

    <ng-template #loading>
    <mat-spinner></mat-spinner>
    </ng-template> 
    
        
</div>

